{% extends "base.html" %}
{% block content %}
<article class="content-section">
    <div>
        <h3>{{ post.title }}</h3>

        <p>{{ post.content }}</p>

        <div>
            <p>
                <a href={{ url_for('main.user_detail', username=post.author.username) }}>
                    {{ post.author.username -}}
                </a> •
                {{ post.date.strftime('%b %d, %Y at %I:%M %p') }}
            </p>
        </div>
    </div>
</article>
<div>
    <h4>Share this post!</h4>
    <form action="" method="post">
      {{ form.csrf_token }}
      <div>
          {{ form.email.label(class="form-control-label green-text") }}
          {{ form.email(class="form-control form-control-md") }}

          {% if form.email.errors %}
              <div class="alert alert-warning" role="alert">
                  {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% endif %}
      </div>
      <div>
          {{ form.submit(class="form-control form-control-lg") }}
      </div>
    </form>
</div>

{% endblock %}
